.product-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 produits par ligne */
    gap: 20px; /* Espacement entre les produits */
    padding: 20px;
}

@media (max-width: 768px) {
    .product-list {
        grid-template-columns: repeat(2, 1fr); /* 2 produits par ligne pour les écrans moyens et petits */
    }
}

@media (max-width: 480px) {
    .product-list {
        grid-template-columns: 1fr; /* 1 produit par ligne pour les très petits écrans */
    }
}

.product-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px; /* Réduisez le padding pour diminuer la hauteur */
}

.product-item img {
    width: auto; /* Ajustez selon le besoin */
    max-height: 150px; /* Réduire la hauteur maximale pour diminuer la hauteur du produit */
    object-fit: cover; /* Garantit que les images s'adaptent bien sans se déformer */
    border-radius: 8px; /* Optionnel: Arrondi des coins de l'image */
}

@media (max-width: 768px) {
    .product-list {
        grid-template-columns: repeat(2, 1fr); /* Moins de colonnes sur les petits écrans */
    }
}

@media (max-width: 480px) {
    .product-list {
        grid-template-columns: 1fr; /* Une seule colonne sur les très petits écrans */
    }
}

/* ProductList.css */

.filters {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f4f4f4;
    border-radius: 5px;
}

.filters select {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* Ajoutez d'autres styles selon vos besoins */
