/* Wishlist.css */

.wishlist-container {
    padding-top: 120px; /* Ajoutez un espace au-dessus pour éviter de superposer le header */
    padding-bottom: 40px; /* Ajoutez un espace en dessous pour le confort visuel */
    background: #f4f4f4; /* Fond légèrement gris pour un contraste doux */
}

.wishlist-item {
    display: flex;
    align-items: center;
    background: white;
    border-radius: 10px;
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Ombre subtile pour un effet de profondeur */
}

.wishlist-item-image-container {
    width: 120px; /* Taille ajustée pour l'image */
    height: 120px;
    padding: 10px;
    flex-shrink: 0;
}

.wishlist-item-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Assure que l'image couvre l'espace sans être déformée */
    border-radius: 5px;
}

.wishlist-item-info {
    padding: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.wishlist-item-title {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 5px;
}

.wishlist-item-price {
    color: #333;
    margin-bottom: 15px;
}

.wishlist-item-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wishlist-item-detail {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.wishlist-item-detail select,
.wishlist-item-detail input {
    margin-top: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.wishlist-item-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

.wishlist-action-button {
    background-color: #f5f5f5;
    color: #333;
    border: 1px solid #ccc;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.wishlist-action-button:hover,
.wishlist-action-button:focus {
    background-color: #e6e6e6;
    border-color: #bbb;
}

.wishlist-item-remove {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #333;
}

.wishlist-item-remove:hover {
    color: #666;
}

/* Media query pour les petits écrans */
@media (max-width: 768px) {
    .wishlist-container {
        padding-top: 100px;
    }

    .wishlist-item {
        flex-direction: column;
    }

    .wishlist-item-details {
        flex-direction: row;
        justify-content: space-around;
    }
}
