.footer {
    background-color: #343a40; /* Couleur de fond du footer plus sombre */
    color: white; /* Texte en blanc pour contraster avec le fond sombre */
    padding: 20px 20px; /* Padding réduit pour réduire la hauteur du footer */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-content {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.footer-section {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centre les éléments verticalement dans la section */
    text-align: center; /* Centre le texte horizontalement */
    padding: 20px;
}

.newsletter .input-group {
    display: flex;
    margin-top: 10px;
}

.newsletter input[type="email"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
}

.newsletter button {
    padding: 10px 20px;
    background-color: #6c757d;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: background-color 0.3s;
}

.newsletter button:hover {
    background-color: #5a6268;
}

.social-icons {
    display: flex;
    justify-content: center; /* Centre les icônes sociaux horizontalement */
    gap: 20px;
    font-size: 24px;
}

.social-icon:hover {
    color: #adb5bd;
}

.guarantees ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
}

.guarantees li {
    padding: 5px 0;
}

@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
    }

    .footer-section {
        text-align: center;
        padding: 10px 0; /* Padding réduit pour les sections */
        width: 100%; /* Assure que chaque section prend toute la largeur disponible */

    }

    .social-icons {
        justify-content: center;
    }
}
