/* src/pages/Connexion/Connexion.css */

.connexion-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f9f9f9;
  background-image: url('../../images/image-connexion.jpeg'); /* Chemin relatif à l'emplacement de votre fichier CSS */
  background-size: cover; /* Assure que l'image couvre toute la zone sans se répéter */
  background-position: center; /* Centre l'image */
  background-repeat: no-repeat; /* Empêche l'image de se répéter */
  background-color: #f9f9f9; /* Couleur de fond si l'image ne charge pas */
}

.connexion-page form {
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.connexion-page .form-group {
  margin-bottom: 15px;
}

.connexion-page .form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
}

.connexion-page .form-group input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 16px;
}

.connexion-page button {
  width: 100%;
  background-color: #606060; /* Gris élégant */
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  margin-top: 10px; /*Espace supplémentaire entre les boutons */
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.connexion-page button:hover {
  background-color: #484848; /* Gris plus foncé au survol */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}
